body {
    background-color: bisque;
}

.team-header {
    background-color: aqua;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
};

.team-card {
    background-color: cornflowerblue;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
